.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
}
.thongtincanhan {
    width: 17rem;
    height: 50rem;
    background-color: rgb(202, 202, 202);
}
.avt {
   width : 10rem;
   height: 10rem;
   border: none;
   transform: translate(3rem,10rem);
   border-radius: 7rem;
   box-shadow: 0px 0px 5px 3px rgb(128, 128, 128);
}
.avt img {
    width:10rem;
    border-radius: 7rem;
    transform: translate(-0.01rem,-0.01rem);
}
.gioithieu {
    font-size: 2rem;
    color: black;
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.name {
    transform: translate(20rem,-3rem);
    font-size: 5rem;
    white-space: nowrap;
}
.name span {
    color: grey;
}
.mssv {
    transform: translate(20.8rem,-4rem);
    white-space: nowrap;
    font-size: 1.2rem;
}
.noidung {
    transform: translate(20.8rem,-1rem);
    white-space: nowrap;
    font-size: 1.2rem;
}
.sanpham {
    width: 60rem;
    height: 10rem;
    margin-left: 21rem;
}
.lk-trangchu {
    border: none;
    width: 9rem;
    height: 3rem;
    margin-left: 2rem ;
    margin-top: 2rem ;
    display: inline-block;
    border-radius: 0.3rem;
    text-decoration: none;
    color: black ;
    text-align: center;
    background-color: rgb(203, 203, 203);
    transform: translate(-2.1rem,0rem);
}
.lk-trangchu p {
    margin-top: 0.7rem;
}
.lk-trangchu:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
}
@media screen and (max-width: 28.125rem) {
    *
    {
        margin: 0;
        padding: 0;
    }
    .main {
        width: auto;
    }
    .thongtincanhan {
        width: 47.5rem;
        height: 30rem;
    }
    .avt {
        transform: translate(14.5rem,4rem);
        width: 20rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .avt img {
        transform: translate(0rem,-0.05rem);
        width: 20rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .gioithieu {
        font-size: 4rem;
        transform: translate(0.7rem,-2rem);
    }
    .name {
        transform: translate(8.5rem,10rem);
    }
    .mssv {
        transform: translate(2.7rem,10rem);
        font-size: 1.8rem;
    }
    .noidung {
        transform: translate(6.5rem,10rem);
        font-size: 1.8rem;
    }
    .sanpham {
        width: 35rem;
        transform: translate(-13.8rem,12rem);
    }
    .sanpham .l1 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l1 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l2 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l3 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l4 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l5 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l2 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l3 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l4 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l5 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
}
@media screen and (min-width: 28.125rem) and (max-width: 42.5rem){
    *
    {
        margin: 0;
        padding: 0;
    }
    .main {
        width: auto;
    }
    .thongtincanhan {
        width: 47.5rem;
        height: 30rem;
    }
    .avt {
        transform: translate(14.5rem,4rem);
        width: 20rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .avt img {
        transform: translate(0rem,-0.05rem);
        width: 20rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .gioithieu {
        font-size: 4rem;
        transform: translate(0.7rem,-2rem);
    }
    .name {
        transform: translate(8.5rem,10rem);
    }
    .mssv {
        transform: translate(2.7rem,10rem);
        font-size: 1.8rem;
    }
    .noidung {
        transform: translate(6.5rem,10rem);
        font-size: 1.8rem;
    }
    .sanpham {
        width: 35rem;
        transform: translate(-13.8rem,12rem);
    }
    .sanpham .l1 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l1 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l2 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l3 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l4 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l5 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l2 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l3 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l4 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l5 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
}
@media screen and (min-width: 42.5rem) and (max-width: 61.9375rem){
    *
    {
        margin: 0;
        padding: 0;
    }
    .main {
        width: auto;
    }
    .thongtincanhan {
        width: 47.5rem;
        height: 30rem;
    }
    .avt {
        transform: translate(14.5rem,4rem);
        width: 20rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .avt img {
        transform: translate(0rem,-0.05rem);
        width: 20rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .gioithieu {
        font-size: 4rem;
        transform: translate(0.7rem,-2rem);
    }
    .name {
        transform: translate(8.5rem,10rem);
    }
    .mssv {
        transform: translate(2.7rem,10rem);
        font-size: 1.8rem;
    }
    .noidung {
        transform: translate(6.5rem,10rem);
        font-size: 1.8rem;
    }
    .sanpham {
        width: 35rem;
        transform: translate(-13.8rem,12rem);
    }
    .sanpham .l1 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l1 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l2 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l3 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l4 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l5 {
        width: 35rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .sanpham .l2 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l3 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l4 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
    .sanpham .l5 p {
        font-size: 1.7rem;
        transform: translate(0rem,0.5rem);
    }
}